header {
  height: 18rem;
  background-image: url('/images/pattern-bg.png');
  background-size: cover;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    color: #fff;
    font-weight: 500;
    font-size: 2.25rem;
  }

  .ip-input {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;

    * {
      font-size: 18px;
      padding: 1.25rem;
      border: none;
      outline: none;
    }
    
    .ip-textbox {
      border-radius: .8rem 0 0 .8rem;;
      width: 40%;
      min-width: 28rem;
      color: $darkGrey;
      font-weight: 500;
    }

    .submit-btn {
      border-radius: 0 .8rem .8rem 0;
      width: 3%;
      min-width: 3rem;
      font-weight: bold;
      background-color: $darkGrey;
      color: #fff;
    }
  }
}

